<div class="row">
  <div class="small-12 large-12 columns">
    <h1>Bands (<%= @bands.size %>)</h1>
  </div>
</div>

<div class="row">
  <% @bands.each do |band| %>
    <%= link_to band_path(band) do %>
      <div class="small-6 medium-3 large-3 columns">
        <p class="release-image"><%= image_tag(band.band_photo) %></p>
        <div class="panel">
          <h3><%= band.name %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
