<div class="row">
  <div class="small-12 large-4 columns">
    <h1>Artists</h1>
      <% @artists.each do |artist| %>
        <div class="panel">
          <p><%= link_to "#{artist.last_name}, #{artist.first_name}" , artist_path(artist) %></p>
        </div>
      <% end %>
  </div>
  <div class="small-12 large-12 columns">
    <%= link_to "Add an Artist", new_artist_path,
      class: "tiny button success" %>
  </div>
</div>
