h1, h2 {
  font-weight: lighter;
}

.release-image {
  margin-bottom: 0;
}

.right-button {
  margin-right: 20px;
  margin-top: -20px;
}

.left-button {
  margin-left: 20px;
  margin-top: -20px;
}

.middle-button {
  margin-top: -20px;
}
