$foundation-black: #222222;
$bandtree-green: #43ac6a;

.splash {
  background-image: image-url(treesplash6);
  background-size: cover;
  color: #ffffff;
  font-size: 2em;
  position: relative;
  height: 810px;
  text-align: center;
  text-shadow: 4px 2px 8px $foundation-black;
}

.splash a {
  color: $bandtree-green;
}

.splash-title {
  font-size: 5em;
  font-weight: 900;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: lighter;
}

h1 a {
  color: $foundation-black;
}

h1 a:hover {
  color: $bandtree-green;
}

.index-lists {
  list-style: none;
  margin-left: 0;
}

.index-lists h3 {
  border-bottom: 1px solid $bandtree-green;
}

.release-image {
  margin-bottom: 0;
}

.release-image-show {
  padding-right: 0;
  margin-bottom: 20px;
}

.right-button {
  margin-top: -20px;
}

.right-button-release-show {
  margin: -20px 0 20px 0;
}

.left-button {
  margin-top: -20px;
}

.left-button-release-show {
  margin: -20px 0 20px 15px;
}

.middle-button {
  margin-top: -20px;
}
