$foundation-black: #222222;
$bandtree-green: #43ac6a;
$white: #ffffff;

h1,h2,h3 {
  font-weight: lighter;
}

h1 a {
  color: $foundation-black;
}

h1 a:hover {
  color: $bandtree-green;
}

.splash {
  background: asset_url('front1.jpeg');
  background-size: cover;
  height: 900px;
  position: relative;
}

.splash-text {
  color: $white;
  text-align: center;
  text-shadow: 4px 2px 8px $foundation-black;
  a {
    color: $bandtree-green;
  }
}

.splash-title {
  font-size: 18vw;
  font-weight: 900;
  margin-top: 75px;
}

.splash-intro {
  background-color: $foundation-black;
  font-size: 2em;
  line-height: 40px;
  margin: 0 -30px;
  padding: 20px;
}

.splash-instructions {
  color: $foundation-black;
  font-size: 6em;
  padding: 20px;
  text-align: center;
}

.splash-instructions h1 {
  font-size: 1em;
  font-weight: bold;
}

.artist-image {
  height: auto;
  width: 220px;
}

.artist-show-image {
  margin-left: 20px;
  width: 50%;
}

.index-lists {
  list-style: none;
  margin-left: 0;
}

.index-lists h3 {
  border-bottom: 1px solid $bandtree-green;
}

.release-image {
  margin-bottom: 0;
}

.release-image-show {
  margin-bottom: 20px;
  padding-right: 0;
}

.release-panel {
  min-height: 470px;
}

.right-button {
  margin-top: -20px;
}

.right-button-release-show {
  margin: -20px 0 20px;
}

.left-button {
  margin-top: -20px;
}

.left-button-release-show {
  margin: -20px 0 20px 15px;
}

.middle-button {
  margin-top: -20px;
}

.artist-column {
  a { display: block; }
  &:nth-child(4n+5) { clear: left; }
}

.release-column {
  a { display: block; }
  &:nth-child(3n+4) { clear: left; }
}
