<%= form_for @release do |f| %>
  <div class="field" id="link">
    <%= f.label :artists, "All artists" %>
    <%= f.collection_select :artists, Artist.all.order(:first_name), :id, :full_name, prompt: true %>
    <%= f.submit "Link artist", class: "tiny button" %>
  </div>
<% end %>
